/*@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: #fff;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);

    padding: 0 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    position: sticky;
    background-color: #fff;
    top: 0;
    box-shadow: 0px  1px 9px #0001;
    z-index: 3;
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
    position: unset;
}

.nav__logo{
    position: relative;
    height: 40px;
    z-index: 3;
    padding-right: 45px;
    transition: .3s ;
}

.logo {
    height: 40px;
    transition: .3s ;
}

.nav__hamburguer, 
.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
    z-index: 1; 
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon{
    width: 30px;
}

.nav__links{
    background-color: #d8d6d6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*padding: 0;*/
    display: grid;
    align-content: center;
    gap: 10%;
    padding-top: 30%;
    padding-right: 23%;
    padding-bottom: 65%;
    text-align: right;
    transform: var(--state-menu);
    transition: .3s transform;
    z-index: 1; 
}

.nav__item{
    list-style: none;
    font-size: 1.05rem;
}

.nav__link{
    color: #616161;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 2px 3px;
    transition: color .3s;
    transition: border .1s;
}

.nav__link:hover {
    /*color: #460be6;*/
    color: #9e9eff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.nav__link_active{
    color: #688ce9;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 2px 3px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.nav__link_active:hover {
    color: #616161;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.acento{
    visibility: hidden;
}

/*silder*/
.container_s{
    width:97%;
    /*min-height:  80vh;*/
    min-height:  100%;
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    /*padding-top: 80px;*/
    /*padding-bottom: 60px;*/
}

.container_cons{
    width:97%;
    /*min-height:  80vh;*/
    min-height:  100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    padding: 9vh 0;
}

.slider{
    padding: 9vh 0px;
}

.slider_container{
    display: grid;
    grid-template-columns: 12.3667px 1fr 12.3667px;
    align-items: center;
    overflow: hidden;
    animation-name: img_slider;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
}

@keyframes  img_slider{
    from{grid-template-columns: 12.3667px 0fr 12.3667px;}
    to{grid-template-columns: 12.3667px 1fr 12.3667px;}
}

.slider_body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
    position: relative; 
    z-index: 0;
    overflow: hidden;
    justify-content: center;
}

.slider_body--show{
    opacity: 1;
    pointer-events: unset;
}

.img {
    /*display: block;*/
    width: 650px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    animation-name: img_slider_img;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: filter .5s;
}

.img:hover {
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
}

.overlay_slider {
    display: grid;
    align-content: center;
    position: absolute; 
    bottom: 0; 
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7); /* Black see-through */
    color: #5c5cf2;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

.slider_button {
    color: #5c5cf2;
    margin: 15px auto;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    padding: 5px;
    font-size: 13px;
}

.slider_button:hover {
    background-color: #fff;
}

.slider_body:hover .overlay_slider {
  opacity: 1;
}

@keyframes  img_slider_img{
    from{width: 0px;}
    to{width: 630px;}
}

.arrow{
    cursor: pointer;
    height: 40px;
    fill: red;
    transition: height .5s;
}

.img_enconst{
    display: block;
    width: 400px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

/*footer*/

.footer_index {
    color: #5c5cf2;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1vh 15px;
    font-size:12px;
    max-width: 775px;
}

.footer_container {
    border-top-style: solid;
    border-top-width: 1.5px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer_container p {
    padding: 0.8rem 1rem;
    text-align: center;
    max-width: 435px;
    line-height: 1.5em;
}

.social {
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    /*gap: 15px;*/
    padding: 1rem 1.5rem;
}
.social a {
    color: #5c5cf2;
    text-decoration: none;
    transition: color .15s;
    margin: 0 8px;
}

.social a:hover {
    color: #9e9eff;
}

#messenger {
    transition: transform 1s;
}

@media  (min-width:768px), (prefers-reduced-motion: reduce){
    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
        position: sticky;
    }
    
    .nav:target{
        --state-close: scale(0);
    }
    
    .nav__logo{
            height: 50px;
    }
    
    .logo{
            height: 50px;
    }
    
    .nav__links{
        padding: 0;
    
        background-color: unset;
        position: unset;
        gap: 1.6em;
        grid-auto-flow: column;
    
        transform: unset;
    
        grid-column: -2/-1;
        grid-row: 1/2;
    }
    
    .nav__item{
        font-size: 1.15rem;
    }

    .nav__link{
        font-size: 1.12rem;
        letter-spacing: none;
    }


    .acento{
        visibility: unset;
        position: absolute;
        top: 0;
        height: 50px;
        width: 3px;
        background-color: #9e9eff;
    }
    
    .slider_container{
        grid-template-columns: 15.45px 1fr 15.45px;
    }
    
    .arrow{
        /*cursor: pointer;*/
        height: 50px;
    }

    .footer_index {
        font-size: 15px;
    }
}
